<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js – The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/black.css" id="theme">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="plugin/highlight/monokai.css">
	</head>

	<body>

		<div class="reveal">

			<div class="slides">
				<!-- PORTADA -->
				<section>
					<h1>
						<a href="http://ulldecommerce.jriba.me/login">UlldEcommerce</a>
					</h1>
					<h3>Projecte Web</h3>
					<p>
						<small>Created by <a href="https://github.com/Riba00">Jordi Riba</a></small>
					</p>
				</section>
				<!-- DEFINICIO PROJECTE	-->
				<section>
					<h2>UlldEcommerce</h2>
					<p>
						UlldEcommerce és un lloc web que permet als usuaris comprar i vendre productes o serveis de negocis locals de manera online
					</p>
				</section>
				<!-- INDEX -->
				<section>
					<h2>Sprints</h2>
					<ul>
						<li>Sprint 1</li>
						<ul>
							<li>Xarxes Socials</li>
							<li>Landing page</li>
							<li>Sistema autenticació</li>
						</ul>
						<li>Sprint 2</li>
						<ul>
							<li>Pàgines de dades legals</li>
							<li>Acceptació de cookies</li>
						</ul>

						<li>Sprint 3</li>
						<ul>
							<li>Gestor de Newsletter</li>
						</ul>
					</ul>
				</section>
				<!-- SPRINT 1 -->
				<section>
					<section>
						<h2>SPRINT 1</h2>
						<h4>Xarxes socials</h4>
						<p>Facebook</p>
						<a href="https://www.facebook.com/profile.php?id=100089323600626">
							<img src="Facebook.png" alt="Perfil Facebook">
						</a>
					</section>
					<section>
						<p>Twitter</p>
						<a href="https://twitter.com/UlldEcommerce">
							<img src="Twitter.png" alt="Perfil Twitter">
						</a>
					</section>
					<section>
						<h4>LANDING PAGE</h4>
						<ul>
							<li>Clients</li>
							<ul>
								<li>CTA</li>
								<li>Vista de la web</li>
								<li>Opinions</li>
							</ul>
							<li>Empreses</li>
							<ul>
								<li>Beneficis</li>
								<li>Preus</li>
								<li>Testomoni</li>
							</ul>
							<li>Suport</li>
						</ul>
						<br>
						<a href="http://ulldecommerce.jriba.me">Link web</a>
					</section>

					<section>
						<h2>Sistema d'autenticació</h2>
						<a href="https://jetstream.laravel.com/2.x/introduction.html">
							<img src="LaravelJetstream.png" alt="">
						</a>
						
					</section>
					<section>
						<h2>Laravel Jetstream</h2>
						<ul>
							<li>Autenticació de l'usuari</li>
							<li>Gestió de rols i permisos</li>
							<li>Administració de perfils d'usuari</li>
							<li>...</li>
						</ul>

					</section>
				</section>
				<!-- SPRINT 2 -->
				<section>
					<section>
						<h2>SPRINT 2</h2>
						<h4>Pagines de dades legals</h4>
						<ul>
							<li>Política de privacitat</li>
							<li>Avís legal i condicions d'ús</li>
							<li>Política de cookies</li>
						</ul>
					</section>
					<section>
						<h4>Acceptació de cookies</h4>
						<a href="https://github.com/spatie/laravel-cookie-consent">Spatie/laravel-cookie-consent</a>
						<p>lang/vendor/cookie-consent/ca/texts.php</p>
						<pre data-id="code-animation"><code class="hljs javascript" data-trim data-line-numbers="|4,5"><script type="text/template">
							<?php

							return [
								'message' => "La vostra experiència en aquest lloc serà millorada amb l'ús de cookies",
								'agree' => 'Acceptar',
								];
							</script></code></pre>

						<p>
							Vista a aplicar
						</p>
						<section data-auto-animate>
							<pre data-id="code-animation"><code class="hljs javascript" data-trim data-line-numbers="|2"><script type="text/template">
							<main>
									@include('cookie-consent::index')
									<div class="bg-gray-900 pt-10 sm:pt-16 lg:overflow-hidden lg:pt-8 lg:pb-14">
										<div class="mx-auto max-w-7xl lg:px-8">
											<div class="lg:grid lg:grid-cols-2 lg:gap-8">
							</script></code></pre>
						</section>
					</section>
				</section>
				<!-- SPRINT 3 -->
				<section>
					<section>
						<h2>SPRINT 3</h2>
						<h4>Gestor de newsletter</h4>
						<a href="https://github.com/spatie/laravel-newsletter">Spatie/laravel-newsletter</a>
						<a href="https://mailchimp.com/?currency=EUR">
							<img src="Mailchimp.jpg" alt="">
						</a>
					</section>

					<section>
						<p>.env</p>
						<pre data-id="code-animation"><code class="hljs javascript" data-trim data-line-numbers="1|2|"><script type="text/template">
							MAILCHIMP_APIKEY
							MAILCHIMP_LIST_ID
						</script></code></pre>


						<p>Controller</p>
						<pre data-id="code-animation"><code class="hljs javascript" data-trim data-line-numbers="|4|7-8|10-11"><script type="text/template">
							public function subscribe(Request $request)
							{
								$request->validate([
									'email'=>'required|email'
								]);
								try {
									if (Newsletter::isSubscribed($request->email)){
										return redirect()->back()->withErrors(['msg' => 'Email ja subscrit']);
									} else{
										Newsletter::subscribe($request->email);
										session()->flash('status','Email subscrit correctament');
									}   return redirect()->route('welcome');
								}catch (Exception $e){
									return redirect()->back()->with('errors',collect([$e->getMessage()]));
								}
							}
						</script></code></pre>
					</section>
					<section>
						<p>Vista</p>
						<pre data-id="code-animation"><code class="hljs javascript" data-trim data-line-numbers="|1|21|31|"><script type="text/template">
							@if ($errors->any())
							<div class="alert alert-danger">
							<div class=" mt-2 rounded-md bg-red-50 p-4">
								<div class="flex">
									@foreach ($errors->all() as $error)
									<div class="flex-shrink-0">
										<!-- Heroicon name: mini/x-circle -->
										<svg class="w-1/2 h-4 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
											<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
										</svg>
									</div>
									<div class="ml-3">
										<h3 class="text-sm font-medium text-red-800">{{ $error}}</h3>
									</div>
									@endforeach
								</div>
							</div>
						</div>
							@endif

							@if (session()->has('status'))
							<div class=" mt-2 rounded-md bg-green-50 p-4">
							<div class="flex">
								<div class="flex-shrink-0">
									<!-- Heroicon name: mini/x-circle -->
									<svg class="w-1/2 h-4 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
										<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
									</svg>
								</div>
								<div class="ml-3">
									<h3 class="text-sm font-medium text-green-800">{{ session('status') }}</h3>
								</div>
							</div>
						</div>
							@endif
						</script></code></pre>
					</section>
				</section>

				<!-- CONCLUSION -->
				<section>
					<h2>CONCLUSIÓ</h2>
				</section>

				<section>
					<h2>MOLTES GRÀCIES PER LA VOSTRA ATENCIÓ</h2>
				</section>
			</div>
		</div>

		<script src="dist/reveal.js"></script>
		<script src="plugin/zoom/zoom.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/search/search.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script>

			// Also available as an ES module, see:
			// https://revealjs.com/initialization/
			Reveal.initialize({
				controls: true,
				progress: true,
				center: true,
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
			});
		</script>
	</body>
</html>
